@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: unset;
}


/* Padding */

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.floating-ads-left {
    position: fixed;
    top: 60px;
    z-index: 98;
    transform: translateX(-108%);
}

.floating-ads-right {
    position: fixed;
    top: 60px;
    z-index: 98;
    transform: translateX(614%);
}


/* Header */

header {
    position: relative;
}

.logo-wrap img {
    display: block;
    height: auto;
}


/* Top Header */

.header-top {
    background: #333333;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    padding: 5px 140px;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
}

.wrap-header-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-portal-v2 {
    width: 970px;
    padding-inline-start: 0;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
}

.other-portal-v2 li {
    margin-right: 6px;
}

.other-portal-v2 li:last-child {
    margin-right: 0;
}

.other-portal-v2 li a {
    display: flex;
    align-items: center;
    color: #fff;
}

.other-portal-v2 li a img {
    margin-right: 5px;
}


/* Top Header */

.main-header {
    width: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #F45151;
    display: flex;
    align-items: center;
    height: 50px;
    overflow: hidden;
    box-shadow: 0px 5px 37px -18px rgb(0 0 0 / 43%);
    -webkit-box-shadow: 0px 5px 37px -18px rgb(0 0 0 / 43%);
    -moz-box-shadow: 0px 5px 37px -18px rgba(0, 0, 0, 0.43);
    justify-content: center;
}


/* .main-header::before {
    content: "";
    background-image: url(../images/logo-bg.svg);
    background-repeat: no-repeat;
    width: 407px;
    position: absolute;
    height: 50px;
    background-size: contain;
    z-index: -1;
    filter: drop-shadow(5px 0px 0px rgba(143, 73, 86, 0.2));
    transform: translateX(-112%);
}

.main-header::after {
    width: 50%;
    height: 50px;
    content: "";
    position: absolute;
    right: 0;
    z-index: -5;
    background: #fff;
} */

.main-menu {
    display: flex;
    list-style: none;
}

.menu-item {
    padding: 0 10px;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
	margin-top:5px;
    /* color: #E47388; */
}

li.menu-item {
    border-right: 1px solid #FF8C88;
    /* transform: rotate(90deg); */
    padding: 0 25px;
}

li:last-child.menu-item {
    border-right: none
}

.menu-item a {
    color: #fff;
    font-weight: 700;
}


/* .menu-item a.active {
    color: #F6A3A9;
} */

.main-menu-wrap {
    display: flex;
    align-items: center;
    z-index: -2;
}

.social-media-menu {
    background: #588EC9;
    /* border: 1px solid #DADADA; */
    /* box-sizing: border-box; */
    /* border-radius: 20px; */
    display: flex;
    padding: 50px 5px;
    margin-left: 10px;
}

.social-media-menu a {
    padding: 0 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.social-media-menu svg {
    color: #fff
}

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    /* background: #E47388; */
    color: #fff;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.search-wrap svg {
    color: #fff;
}

.main-content {
    margin-top: 60px;
    width: 970px;
    position: relative;
    z-index: 99;
    background: #fff;
}

.artist-stories--title {
    margin-right: 20px;
}

.artist-stories {
    width: 100%;
    display: flex;
    min-height: 100px;
}

.artist-stories--title h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label1 {
    font-family: 'Bowlby One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #588EC9;
}

.label2 {
    font-family: 'Bowlby One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #588EC9;
}

.artist-list::-webkit-scrollbar {
    display: none;
}

.artist-list {
    cursor: grab;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.artist-list--item {
    margin-right: 18px;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    flex-direction: column;
    align-items: center;
}

.artist-list--item--img {
    background: #588EC9;
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 3px;
}

.artist-list--item h6 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
    color: #5C5C5C;
}

.artist-list--item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


/* Ads */

.ads {
    margin: 0px;
    text-align: center;
    position: relative;
}

.ads img {
    width: 100%;
}


/* Card */

.headline-card {
    display: flex;
    margin-bottom: 0px;
}

.card-headline-big {
    width: 500px;
    position: relative;
}

.headline-card-item {
    position: relative;
    background-color: #000000;
    border-radius: 8px;
}

.headline-card-item img {
    height: 363px;
    width: 490px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 75%;
}

.headline-card-item-img-wrap {
    height: 363px;
    width: 490px;
}

.headline-card-item-title a {
    color: #fff;
    line-height: 20px;
}

.headline-card-item-title {
    position: absolute;
    bottom: 6px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: -6px;
    margin-top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 8px 8px;
}

.card-headline-small {
    margin-left: 8px;
}

.card-headline-small .headline-card-item-img-wrap img {
    height: 178px;
    width: 240px;
    object-fit: cover;
    border-radius: 8px;
}

.card-headline-small .headline-card-item-img-wrap {
    height: 178px;
    width: 240px;
}

.card-headline-small .headline-card-item:first-child {
    margin-bottom: 7px;
}

.card-headline-small .headline-card-item-title {
    font-size: 13px;
    line-height: 14px;
}

.card-headline-no-image {
    margin-left: 10px;
}

.card-headline-no-image-item--title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5E6368;
}

.card-headline-no-image-item--title a {
    color: #5E6368;
    line-height: 20px;
    font-weight: 400;
}

.card-headline-no-image-item {
    padding-bottom: 16px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #DADADA;
}

.card-headline-no-image-item:last-child {
    border-bottom: none;
}

.category-and-time {
    color: #868585;
    font-size: 11px;
}

.category-and-time a {
    margin-right: 6px;
    padding: 1px 5px;
    /* border: 1px solid #E5534E; */
    color: #fff;
    line-height: 18px;
    text-transform: capitalize;
    background-color: #ff6c6c;
    border-radius: 3px;
}

.category-and-time a:hover {
    color: #fff;
}

.category-and-time-head {
    color: #868585;
    font-size: 11px;
    margin-top: 5px;
}

.category-and-time-head a {
    margin-right: 6px;
    padding: 1px 5px;
    /* border: 1px solid #E5534E; */
    color: #fff;
    line-height: 18px;
    text-transform: capitalize;
    background-color: #ff6c6c;
    border-radius: 3px;
}

.category-and-time-head a:hover {
    color: #fff;
}

.health {
    background-color: #ECEAFB;
    border-radius: 6px;
    padding: 15px;
}

.card-headline-no-image-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    color: #E5534E;
    text-transform: uppercase;
}


/* h3.card-headline-no-image-title:after {
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: bottom;
    width: 20px;
    margin-right: -100%;
    margin-left: 10px;
    margin-bottom: 12px;
    border-top: 8px solid #E5534E;
    border-radius: 50px;
} */

.card-headline-no-image-title a {
    color: #E47388;
}

.card-headline-no-image-title-detail {
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #E5534E;
}

.card-headline-no-image-title-detail a{
    color: #E5534E;
}


.card-headline-no-image-title-detail2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    color: #fff;
}

.article-detail-video {
    background: #EBEBEB;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.article-detail-video iframe {
    width: 100%;
}

.article-detail-video--caption {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #5E6368;
    padding: 10px;
}


/* Article Gallery */

#slider-galleries .splide__pagination {
    margin-top: 10px;
    position: inherit;
}

#slider-galleries .splide__pagination__page.is-active {
    background: #828080;
}

.article-detail--gellery-show {
    position: relative;
}

.article-detail--gellery-show-img {
    width: 100%;
}

.article-detail--gellery-show-desc {
    background: rgb(0 0 0 / 41%);
    color: #fff;
    position: absolute;
    bottom: 6px;
    margin-bottom: 0;
    padding: 10px;
}

.gallery-list--item img {
    width: 100%;
}

.article-detail--gellery-show-pagination-left {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 0;
    cursor: pointer;
    background: #fff;
    color: #fff;
    padding: 5px;
    border-radius: 0 15px 15px 0;
}

.article-detail--gellery-show-pagination-left svg {
    color: #e47388;
}

.article-detail--gellery-show-pagination-right {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    cursor: pointer;
    background: #fff;
    color: #fff;
    padding: 5px;
    border-radius: 15px 0 0 15px;
}

.article-detail--gellery-show-pagination-right svg {
    color: #e47388;
}


/* Video */

.hot-videos-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #E5534E;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 10px;
    border-radius: 6px;
}

.hot-videos {
    /* background: #B54075; */
    /* border-radius: 10px; */
    /* padding: 16px 50px 20px 16px; */
    position: relative;
}

.card-video-item .card-video-item--img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-video-item .bottom-left-play {
    position: absolute;
    bottom: 140px;
    left: 22px;
    z-index: 9;
}

.card-video-item .bottom-left-bg {
    position: absolute;
    top: 88px;
    left: 0;
}

.card-video-item .bottom-left-bg-detail {
    position: absolute;
    top: 74px;
    left: 0;
}

.card-video-item .top-right-bg {
    position: absolute;
    top: 0;
    right: 0;
}

.card-video-item .bottom-left-text {
    position: absolute;
    bottom: 110px;
    left: 0;
    color: #fff;
    width: 50px;
    margin-left: 10px;
    font-weight: 900;
    line-height: 14px;
    font-size: 12px;
}

.bg-card-video-item-1 {
    background-color: #FFEAEB;
    padding: 15px;
    margin-right: 4px;
    border-radius: 6px;
}

.bg-card-video-item-2 {
    background-color: #ECEAFB;
    padding: 15px;
    margin-right: 4px;
    border-radius: 6px;
}

.card-video-item {
    width: 200px;
    position: relative;
    /* background-color: #29B3F3;
    padding: 8px;
    border-radius: 10px; */
}

.card-video-item--title {
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.card-video-item--title a {
    color: #5E6368;
    line-height: 20px;
}

.card-video-item--title-hot-video-1 a {
    color: #E5534E;
    line-height: 20px;
}

.card-video-item--time-1 {
    position: absolute;
    color: #E5534E;
    line-height: 20px;
    bottom: -25px;
    font-size: 11px;
}

.card-video-item--title-hot-video-2 a {
    color: #6E6B89;
    line-height: 20px;
}

.card-video-item--time-2 {
    position: absolute;
    color: #6E6B89;
    line-height: 20px;
    bottom: -25px;
    font-size: 11px;
}

.hot-videos.article-detail .card-video-item {
    width: 180px;
}

.list-article{}
.list-article ul{ margin:0px; padding:0px;}
.list-article ul li{
	font-size: 14px;
	margin-bottom:10px;
	list-style-type:none;
	font-weight:700;
	background-color:#E9ECEF;
	padding:10px;
	border-radius: 4px;
}

.list-article ul li a:hover{
	color: #E5534E;
}

.list-nama{
	margin-left:30px;
}

/* Home Content */

.content-home {
    display: flex;
}

.content-article {
    width: 653px;
}

.content-sidebar {
    width: 300px;
    margin-left: 20px;
}

.card-one-headline {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-one-headline-img {
    width: 310px;
    height: auto;
    border-radius: 6px;
}

.card-one-headline--info {
    margin-left: 10px;
}

.card-one-headline--title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #8F4956;
    margin-bottom: 5px;
    margin-top: 0;
}

.card-one-headline--title a {
    color: #5E6368;
}

.card-two-wrap {
    display: flex;
    flex-wrap: wrap;
}

.card-two-headline {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    flex: 1 0 50%;
}

.card-two-headline-img-wrap {
    width: 100px;
    height: 74px;
}

.card-two-headline-img {
    width: 100px;
    height: 74px;
    object-fit: cover;
    border-radius: 5px;
}

.card-two-headline--title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #5E6368;
}

.card-two-headline--title a {
    color: #5E6368;
    line-height: 18px;
}

.card-two-headline--title a:hover {
    color: #E5534E;
}

.card-two-headline--info {
    margin-left: 10px;
    margin-right: 10px;
}

.card-three-wrap {
    display: flex;
}

.card-three-headline {
    width: 310px;
}

.card-three-headline-img-wrap {
    width: 310px;
    position: relative;
}

.card-three-headline-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.card-three-headline--title {
    margin-bottom: 5px;
    margin-top: 0;
    color: #8F4956;
    line-height: 24px;
}

.card-three-headline--title a {
    color: #5E6368;
}

.card-four {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #DADADA;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.card-four:last-child {
    border-bottom: none;
}

.card-four-img-wrap {
    width: 110px;
    height: 81px;
}

.card-four-img {
    width: 110px;
    height: 81px;
    object-fit: cover;
    border-radius: 5px;
}

.card-four--info {
    margin-left: 10px;
}

.card-four--title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
    /* line-height: 16px; */
    color: #5E6368;
}

.card-four--title a {
    color: #5E6368;
    line-height: 18px;
}

.card-four--title a:hover {
    color: #E5534E;
}

.live-report-card--heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #7369C0;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.live-report-card--heading-side {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #7C9D8F;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.live-report-card {
    background: #D6EBE2;
    border-radius: 8px;
    padding: 10px 15px 35px 15px;
    position: relative;
    height: 290px;
}

.live-report-card-img-wrap {
    width: 100%;
    position: relative;
}

.live-report-card-img {
    width: 100%;
    height: 201px;
    object-fit: cover;
    /* border: 1px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 6px;
}

.live-report-card--title {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.live-report-card--title a {
    color: #5E6368;
    font-weight: 500;
    line-height: 20px;
}

.live-report-card-img--play {
    position: absolute;
    left: 10px;
    bottom: 16px;
    color: #fff;
}

.live-report-card-more {
    background: #87BFA7;
    border-radius: 20px;
    color: #fff !important;
    left: 15;
    position: absolute;
    width: 100px;
    text-align: center;
    line-height: 15px;
    bottom: 15px;
    padding: 5px 0;
    font-size: 12px;
}

.main-card {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #DADADA!important;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main-card:last-child {
    border-bottom: none;
}

.main-card-img-wrap {
    width: 230px;
    height: 172px;
}

.main-card-img {
    width: 230px;
    height: 172px;
    object-fit: cover;
    border-radius: 6px;
}

.main-card--info {
    margin-left: 10px;
}

.main-card--title {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #8F4956;
    margin-top: 0;
    margin-bottom: 5px;
}

.main-card--title a {
    color: #5E6368;
}

.main-card--desc {
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #868585;
    margin-top: 0;
}

.main-card-loadmore {
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #E5534E;
    cursor: pointer;
    border: 1px solid #E5534E;
}


/* Detail Article */

.article-detail--title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #494652;
    margin-top: 0;
    margin-bottom: 0;
}

.article-detail--desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-detail--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #494652;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
	margin-top:10px;
    margin-bottom: 15px;
}

.article-detail figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    background: #EBEBEB;
    border-radius: 5px;
}

.article-detail figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block
}

.article-detail figure figcaption {
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #5E6368;
}

.article-detail--body {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    align-items: center;
    color: #494652;
}

.read-also-wrap-title {
    display: block;
    font-size: 14px;
    color: #494652;
}

.read-also-wrap {
	background-color:#F3F3F3;
    padding: 10px;
    border-radius: 5px;
}

.read-also-wrap-item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #494652 !important;
}

.article-detail-pagination {
    margin-bottom: 40px;
    margin-top: 15px;
}

.article-detail-pagination a {
    align-items: center;
    text-align: center;
    display: inline-flex;
    height: 20px;
    min-width: 20px;
    padding: 5px;
    background: #EBEBEB;
    border-radius: 50%;
    justify-content: center;
}

.article-detail-pagination a.active {
    background: #E5534E;
    color: #fff;
}

.article-detail-pagination a.show-all {
    background: #EBEBEB;
    border-radius: 20px;
    padding: 5px 25px;
    color: #000;
}

.article-detail-tag {
    text-align: center;
    display: block;
    padding-bottom: 15px;
    background: #F3F3F3;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.article-detail-tag .label {
    display: block;
    margin-bottom: 5px;
	color:#E5534E;
}

.tag-item {
    background: #FFFFFF;
    border: 1px solid #F45151;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 6px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #F45151!important;
}

.article-detail-share-link span {
    font-weight: 600;
    margin-right: 10px;
}

.article-detail-share-link {
    background: #F6F6F6;
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.share-link-item {
    border: solid 1px #DADADA;
    padding: 5px;
    border-radius: 10px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.share-link-item.facebook svg {
    fill: #4C6CAD;
}

.share-link-item.twitter svg {
    fill: #29B3F3;
}

.share-link-item.whatsapp svg {
    fill: #5BB354;
}

.share-link-item.link svg {
    fill: #5E6368;
}


/* .hot-videos.article-detail {
    background: #B54075;
} */


/* Footer */

footer {
    /* font-family: 'Poppins', sans-serif; */
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99;
}

.footer-copyright {
    text-align: center;
    margin: auto;
    padding: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #fff;
}

.footer-info {
    display: flex!important;
    background: #FFEFEF;
    min-height: 50px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
    padding-top: 10px;
    min-width: 1000px;
}

.footer-menu {
    display: flex;
    list-style: none;
    margin-block-start: 0;
}

.footer-menu .footer-menu--item {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    padding: 0 20px;
    border-right: 1px solid #E5534E;
}

.footer-menu .footer-menu--item a {
    color: #E5534E;
    font-weight: 700;
}

.footer-menu .footer-menu--item:last-child {
    border-right: none;
}

.subscribe-container {
    margin-top: 10px;
    position: relative;
}

.input-subscribe {
    width: 450px;
    height: 38px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-indent: 10px;
}

.input-subscribe:focus-visible {
    outline: none;
}

.input-subscribe::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.icon-subscribe {
    position: absolute;
    right: 10px;
    top: 7px;
}

.social-media-wrap {
    display: flex;
}

.footer-social-media {
    background: #E5534E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 0px 30px 30px 30px;
}

.footer-social-media-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #E5534E;
    margin-bottom: 10px;
    margin-top: 0;
}

.social-media-item {
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    margin-right: 10px;
    color: #fff;
}

.social-media-item:last-child {
    margin-right: 0;
}

.footer-social-media-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    min-width: 1000px;
}


/* Custom widget video */

#slider-videos .splide__arrow--prev {
    display: none;
}

#slider-videos .splide__arrow {
    right: 0 !important;
    opacity: unset;
    /* background: url(../images/arrow.png); */
    background-color: #cfcfcf;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

#slider-videos .splide__arrow svg {
    display: block;
}

#slider-videos-detail .splide__arrow--prev {
    display: none;
}

#slider-videos-detail .splide__arrow {
    right: 0 !important;
    opacity: unset;
    /* background: url(../images/arrow.png); */
    background-color: #cfcfcf;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

#slider-videos-detail .splide__arrow svg {
    display: block;
}

.search-container {
    position: relative;
}

.wrap-search-form {
    display: flex;
    position: fixed;
    left: 71%;
    z-index: 999999;
    top: 55px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 5px 37px -18px rgb(0 0 0 / 43%);
    -webkit-box-shadow: 0px 5px 37px -18px rgb(0 0 0 / 43%);
    -moz-box-shadow: 0px 5px 37px -18px rgba(0, 0, 0, 0.43);
}

.input-search {
    border: none;
    padding: 10px;
}

.input-search:focus-visible {
    outline: none;
}

.button-search {
    background: #E5534E;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.wrapper {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 970px;
    /* 2 */
    padding-right: 10px;
    /* 3 */
    padding-left: 10px;
    /* 3 */
}

.headline {
    margin-bottom: 80px;
}

.container {
    position: relative;
    max-width: 510px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

.container .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 0px;
    /* Some padding */
}


/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 0;
    margin: 0;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

.left {
    width: 510px;
    margin-right: 10px;
}

.middle {
    width: 250px;
    margin-right: 10px;
}

.right {
    width: 190px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* share baru */

.share-baru-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 10px 0
}

.share-baru-header img {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 30px;
    width: 100%;
}

.share-baru-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    padding: 10px;
}

.share-baru-bottom img {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 34px;
    width: 100%;
}

.share-baru-bottom span {
    font-weight: 300;
}


/* end share baru */


/* loadmore */

.list-element {
    display: none;
}

.list .list-element:nth-child(1),
.list .list-element:nth-child(2),
.list .list-element:nth-child(3),
.list .list-element:nth-child(4),
.list .list-element:nth-child(5) {
    display: flex;
}


/* end loadmore */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td {
    height: 40px;
    padding-left: 20px!important;
}

tr {
    background-color: #ffffff;
    color: #5E6368;
}

th {
    height: 40px;
    background-color: #dddddd;
    color: #5E6368;
}