@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #666666;
}


/* Padding */

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.t0-b20 {
    padding: 0px 20px !important;
}

.t5-b20 {
    padding: 5px 20px !important;
}

.t10-b20 {
    padding: 10px 20px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-20 {
    margin: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.category-and-time {
    color: #595858;
    font-size: 12px;
}

.category-and-time a {
    margin-right: 6px;
    padding: 1px 5px;
    /* border: 1px solid #E5534E; */
    color: #fff;
    line-height: 18px;
    text-transform: capitalize;
    background-color: #ff6c6c;
    border-radius: 2px;
}

.category-and-time-head {
    color: #595858;
    font-size: 12px;
    margin-top: 5px;
}

.category-and-time-head a {
    margin-right: 6px;
    padding: 1px 5px;
    /* border: 1px solid #E5534E; */
    color: #fff;
    line-height: 18px;
    text-transform: capitalize;
    background-color: #ff6c6c;
    border-radius: 2px;
}

.main-card-loadmore {
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    border: 1px solid #E5534E;
    border-radius: 5px;
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #E5534E;
    cursor: pointer;
}

.main-card-loadmore-health {
    display: block;
    width: 100%;
    border: none;
    background: #7369C0;
    border: 1px solid #7369C0;
    border-radius: 5px;
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.body-health {
    background-color: #ECEAFB;
}

.base-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #E5534E;
    margin-top: 0;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.info-article {
    background: #F4F4F4;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #588EC9;
}


/* Header */

.wrap-header {
    position: relative;
    /* position: fixed; */
    width: 100%;
    z-index: 99999;
    top: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    height: 40px;
    background: #E5534E;
}

.header-logo--wrap img {
    width: 210px;
    height: auto;
    margin-left: 35px;
}


/* img.logo {
    width: 225px;
    height: auto;
} */

.main-header {
    background: #F45151;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    box-shadow: 0px 2px 6px #888888;
}

.header-logo--wrap a {
    display: flex;
    align-items: left;
}

.header-menu--wrap {
    display: flex;
    background: #F45151;
    position: absolute;
    left: 0;
    width: 46px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 5px;
    padding-left: 6px;
}

#main-menu {
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 840px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ffffff;
}

.main-menu {
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    width: 100%;
}

.menu-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #494652;
}

.menu-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #494652;
    border-bottom: 1px dashed #E5E5E5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item a {
    color: #494652;
    font-weight: 700;
}

.menu-item.active a {
    color: #E5534E;
}


/* Main Content */


/* .main-content {
    margin-top: 45px;
} */

.list-article{}
.list-article ul{ margin:0px; padding:0px;}
.list-article ul li{
	font-size: 14px;
	margin-bottom:10px;
	list-style-type:none;
	font-weight:700;
	background-color:#E9ECEF;
	padding:10px;
	border-radius: 4px;
}
.list-nama{
	margin-left:30px;
}

/* Card */

.card-headline {
    display: flex;
    flex-direction: column;
}

.card-headline .card-headline-img {
    width: 100%;
    height: auto;
}

.card-headline-info {
    padding: 10px 20px;
}

.card-headline-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
}

.card-headline-title a {
    color: #5E6368;
    font-weight: 600;
}


/* .card-headline-title a:visited {
    color: #E5534E;
} */

.card-headline-category {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #595858;
}

.card-headline-small-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-headline-small {
    position: relative;
    width: 42%;
    padding: 10px 10px 20px 10px;
}

.card-headline-small-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-headline-small-title {
    margin-top: 5px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #595858;
}

.card-headline-small-title a {
    color: #595858;
    font-weight: 500;
}


/* .card-headline-small-title a:visited {
    color: #666666;
} */

.card-headline-small-category {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #868585;
}


/* Hot Video */

.hot-video {
    /* background: #B54075; */
    padding: 10px 0 0 0;
    margin: 10px 0;
}

.hot-video-list-scroll {
    overflow-x: auto;
    padding-left: 20px;
}

.hot-video-list {
    display: inline-flex;
    overflow: auto;
    flex-wrap: nowrap;
    padding-left: 0px;
    padding-bottom: 20px;
}

.hot-video-list--item {
    width: 200px;
    height: auto;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.hot-video-list--item-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hot-video-list--item-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.hot-video-list--item-title a {
    color: #E5534E;
    font-weight: 700;
}

.hot-video-list--item-title-2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.hot-video-list--item-title-2 a {
    color: #6E6B89;
    font-weight: 700;
}


/* .hot-video-list--item-title a:visited {
    color: #5E6368;
    font-weight: normal;
} */

.header-menu--wrap .hot-video-list--item-category {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #5E6368;
}

.hot-video--title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 0 10px 20px;
    margin: 10px 20px;
    background-color: #E5534E;
    border-radius: 8px
}

.main-card {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin: 0px 20px;
    border-bottom: 1px dashed #DADADA!important;
}

.main-card:last-child {
    border-bottom: none;
}

.main-card-img-wrap {
    width: 130px;
    height: 97px;
}

.main-card-img {
    object-fit: cover;
    width: 130px;
    height: 97px;
    border-radius: 5px;
}

.main-card--info {
    margin-left: 10px;
}

.main-card--title {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #595858;
    margin-bottom: 5px;
}


/* .main-card--title:visited {
    color: #595858;
} */

.live-report-card--heading {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #7C9D8F;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.live-report-card--heading-health {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #7369C0;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.live-report-card {
    background: #D6EBE2;
    border-radius: 8px;
    padding: 15px;
    position: relative;
}

.live-report-card-img-wrap {
    width: 100%;
    position: relative;
}

.live-report-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.live-report-card--title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #494652;
    font-size: 14px;
    line-height: 24px;
}

.live-report-card--title a {
    color: #494652;
}


/* .live-report-card--title a:visited {
    color: #5E6368;
} */

.live-report-card-img--play {
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #fff;
}

.live-report-card-wrap {
    display: flex;
    justify-content: flex-start;
}

.live-report-card-more {
    background: #87BFA7;
    border-radius: 20px;
    color: #fff !important;
    right: 10px;
    /* width: 125px; */
    padding: 8px 18px;
    text-align: center;
    line-height: 15px;
    display: flex;
    font-size: 12px;
}


/* .live-report-card-more:visited {
    color: #E47388;
} */

.video-read-also--heading {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: #864450;
    margin-top: 0;
    margin-bottom: 5px;
}

.video-read-also {
    background: #F3F3F3;
    border-radius: 8px;
    padding: 15px;
    position: relative;
}

.video-read-also-img-wrap {
    width: 100%;
    position: relative;
}

.video-read-also-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.video-read-also--title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #494652;
    font-size: 18px;
    line-height: 24px;
}

.video-read-also--title a {
    color: #494652;
}

.video-read-also-img--play {
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #fff;
}

.video-read-also-wrap {
    display: flex;
    justify-content: flex-end;
}

.card-slider {
    display: flex;
    overflow-x: auto;
    margin-left: 20px;
}

.card-slider--item {
    margin-right: 15px;
    margin-bottom: 10px;
}

.card-slider--item-img-wrap {
    width: 200px;
    height: 140px;
}

.card-slider--item-img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.card-slider--item-info {
    padding: 10px 0;
}

.card-slider--item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #5E6368;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-slider--item-title a {
    color: #5E6368;
    font-weight: 500;
}


/* .card-slider--item-title a:visited {
    color: #666666;
} */

.article-detail-figure {
    margin-top: 0;
}


/* Story Artist */

.artist-stories--title {
    margin-right: 10px;
    padding-left: 20px;
}

.artist-stories {
    width: 100%;
    display: flex;
    /* height: 130px; */
    padding-bottom: 10px;
    overflow: auto;
    padding-top: 10px;
}

.artist-stories--title h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label1 {
    font-family: 'Bowlby One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    color: #588EC9;
}

.label2 {
    font-family: 'Bowlby One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    color: #588EC9;
}

.artist-list {
    display: flex;
    justify-content: space-around;
}

.artist-list--item {
    display: block;
    border-radius: 50%;
    margin-right: 15px;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
}

.artist-list--item h6 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    color: #070606;
}

.artist-list--item--img {
    background: #588EC9;
    overflow: hidden;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    padding: 3px;
}

.artist-list--item img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
}


/* Kanal */

.kanal-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
}

.kanal-wrap .date {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #59585c;
}


/* Article Detail */

.article-detail figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    background: #EBEBEB;
}

.article-detail figure img {
    width: 100%;
    height: auto;
    display: block
}

.article-detail figure figcaption {
    padding: 10px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.article-detail--title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #494652;
    margin-top: 0;
    margin-bottom: 0;
}

.article-detail--desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #494652;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-detail--info .author {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #494652;
}

.article-detail--body {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    color: #494652;
}

.read-also-wrap-title {
    display: block;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    color: #494652;
}

.read-also-wrap {
    background: #F3F3F3;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    line-height: 12px;
}

.read-also-wrap-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px!important;
    color: #494652 !important;
}

.read-also-wrap-item-img {
    width: 100%;
    border-radius: 5px;
}

.article-detail-pagination {
    margin-bottom: 40px;
    margin-top: 15px;
}

.article-detail-pagination a {
    color: #000;
    align-items: center;
    text-align: center;
    display: inline-flex;
    height: 20px;
    min-width: 20px;
    padding: 5px;
    background: #EBEBEB;
    border-radius: 50%;
    justify-content: center;
}

.article-detail-pagination a.active {
    background: #E5534E;
    color: #fff;
}

.article-detail-pagination a.show-all {
    background: #EBEBEB;
    border-radius: 20px;
    padding: 5px 25px;
    color: #000
}

.article-detail-tag {
    text-align: center;
    display: block;
    padding-bottom: 15px;
    background: #F3F3F3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.article-detail-tag .label {
    display: block;
    margin-bottom: 0px;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    color: #E5534E;
}

.tag-item {
    background: #FFFFFF;
    border: 1px solid #F45151;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 10px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #F45151!important;
}

.article-detail-share-link-wrap {
    background: #F6F6F6;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.article-detail-share-link-wrap span {
    font-weight: 600;
    margin-right: 10px;
}

.article-detail-share-link {
    text-align: center;
    font-family: 'Bowlby One', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-link-item {
    border: solid 1px #DADADA;
    padding: 5px;
    border-radius: 10px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.share-link-item.facebook svg {
    fill: #4C6CAD;
}

.share-link-item.twitter svg {
    fill: #29B3F3;
}

.share-link-item.whatsapp svg {
    fill: #5BB354;
}

.share-link-item.link svg {
    fill: #666666;
}

.hot-videos.article-detail {
    background: linear-gradient(90deg, #88206D 1.87%, #E47388 100%);
}

.article-detail-video {
    background: #EBEBEB;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.article-detail-video iframe {
    width: 100%;
}

.article-detail-video--caption {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #666666;
    padding: 10px;
}


/* Article Gallery */

#slider-galleries .splide__pagination {
    margin-top: 10px;
    position: inherit;
}

#slider-galleries .splide__pagination__page.is-active {
    background: #828080;
}

.article-detail--gellery-show {
    position: relative;
}

.article-detail--gellery-show-img {
    width: 100%;
}

.article-detail--gellery-show-desc {
    background: rgb(0 0 0 / 41%);
    color: #fff;
    position: absolute;
    bottom: 6px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 10px 15px;
}

.gallery-list--item img {
    width: 100%;
}

.article-detail--gellery-show-pagination-left {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 0;
    cursor: pointer;
    background: #fff;
    color: #fff;
    padding: 5px;
    border-radius: 0 15px 15px 0;
}

.article-detail--gellery-show-pagination-left svg {
    color: #e47388;
}

.article-detail--gellery-show-pagination-right {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    cursor: pointer;
    background: #fff;
    color: #fff;
    padding: 5px;
    border-radius: 15px 0 0 15px;
}

.article-detail--gellery-show-pagination-right svg {
    color: #e47388;
}


/* Footer */

.footer-copyright {
    text-align: center;
    margin: auto;
    padding: 15px 15px 0px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}

.footer-info {
    display: flex;
    background: #FFEFEF;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: space-evenly;
}

.footer-menu {
    display: flex;
    list-style: none;
    margin-block-start: 0;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.footer-menu .footer-menu--item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    margin-bottom: 15px;
    border-right: 1px solid #E5534E;
}

.footer-menu .footer-menu--item a {
    color: #E5534E;
}

.footer-menu .footer-menu--item:last-child {
    border-right: none;
}

.subscribe-container {
    margin-top: 10px;
    position: relative;
}

.input-subscribe {
    width: 450px;
    height: 38px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-indent: 10px;
}

.input-subscribe:focus-visible {
    outline: none;
}

.input-subscribe::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.icon-subscribe {
    position: absolute;
    right: 10px;
    top: 7px;
}

.social-media-wrap {
    display: flex;
}

.social-media-wrap a {
    color: #fff;
}

.footer-social-media {
    background: #E5534E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px 20px 10px 20px;
}

.footer-social-media-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 0;
}

.social-media-item {
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    margin-right: 15px;
}

.social-media-item:last-child {
    margin-right: 0;
}

.footer-social-media-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}


/* Ads */

.adds-top {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    background: #000;
    justify-content: center;
    text-align: center;
}

.adds-top::before {
    background-color: #000000;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    font-size: 11px;
    line-height: 1;
    color: #999;
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.ads-info {
    color: #bbb;
    margin: auto;
    position: absolute;
    font-size: 14px;
    z-index: -1;
}

.wrap-adds {
    width: 320px;
    margin: 0 auto;
    display: block;
}

#close-adds-top {
    position: absolute;
    right: 5px;
    top: 5px;
}

#close-adds-top svg {
    color: #fff;
}

.search-form {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.input-search {
    border: 1px solid #eee;
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    margin-right: 20px;
    color: #494652;
}

.input-search:focus-visible {
    outline: none;
}

.button-search {
    background: none;
    border: none;
    color: #fff;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 8px 8px 8px;
    border-radius: 50%;
}

#div-ad-top {
    margin: auto;
    text-align: center;
}

.main-menu-logo {
    width: 100%;
    background-color: #F6F6F6;
    height: auto;
    margin-top: 0;
}

.logo-partner {
    height: 25px;
    /* width: 100%; */
    margin: 0 auto;
}

.side-logo-partner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 350px;
    margin: 0 auto;
}

.side-hr {
    max-width: 350px;
    margin: 10px auto;
    border-bottom: 2px solid #402000;
}

.social-media-wrap-side {
    display: flex;
}

.social-media-wrap-side a {
    color: #fff;
}

.footer-social-media-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px;
}

.footer-social-media-title-side {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 0;
}

.social-media-item-side {
    border: 2px solid #402000;
    border-radius: 15px;
    display: flex;
    padding: 8px;
    margin-right: 15px;
}

.social-media-item-side:last-child {
    margin-right: 0;
}

.footer-social-media-desc-side {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.footer-copyright-side {
    color: #000;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}


/* share baru */

.share-baru-header {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px
}

.share-baru-header img {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 30px;
    width: 100%;
}

.share-baru-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.share-baru-bottom img {
    margin-left: 7px;
    margin-right: 7px;
    max-width: 36px;
    width: 100%;
}

.share-baru-bottom span {
    font-size: 14px;
    font-weight: 600;
}


/* end share baru */

.banner-ads--big {
    text-align: center;
    padding: 0;
    background-color: #E1E1E1;
    margin-bottom: 5px;
}

.banner-ads--big img {
    max-width: 100%;
    margin-bottom: -6px;
}


/* custom css */

.hot-video-list--item .bottom-left-play {
    position: absolute;
    bottom: 95px;
    left: 22px;
    z-index: 9;
}

.hot-video-list--item .bottom-left-bg {
    position: absolute;
    bottom: 54px;
    left: 0;
}

.hot-video-list--item .top-right-bg {
    position: absolute;
    top: 0;
    right: 0;
}

.hot-video-list--item .bottom-left-text {
    position: absolute;
    bottom: 60px;
    left: 0;
    color: #fff;
    width: 50px;
    margin-left: 10px;
    font-weight: 900;
    line-height: 20px;
    font-size: 12px;
}

.hot-video-list .bg-card-video-item {
    background-color: #FFEAEB;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
}

.hot-video-list .bg-card-video-item:nth-child(2) {
    background-color: #ECEAFB
}

.hot-video-list .bg-card-video-item:nth-child(3) {
    background-color: #FFEAEB
}

.hot-video-list .bg-card-video-item:nth-child(4) {
    background-color: #ECEAFB
}

.menu-header {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0
}

.menu-search {
    position: absolute;
    right: 5px;
    top: 8px;
}

.menu-open {
    background: #F45151;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-close {
    background: #F45151;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* loadmore */

.list-element {
    display: none;
}

.list .list-element:nth-child(1),
.list .list-element:nth-child(2),
.list .list-element:nth-child(3),
.list .list-element:nth-child(4),
.list .list-element:nth-child(5) {
    display: flex;
}


/* end loadmore */

.wrap-search {
    position: absolute;
    top: 50px;
    background: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(59, 59, 59, .5764705882352941);
    display: none;
}

.wrap-search form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 5px 7px;
}

.wrap-search input[type=text] {
    border: 0;
    outline: 0;
    padding: 8px 10px;
    margin-right: 5px;
    height: 15px;
    width: 90%;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f4f4f4;
}

.wrap-search button {
    border: 0;
    outline: 0;
    background: #ffffff;
    color: #E5534E;
    border: 1px solid #E5534E;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 4px;
}

.base-title-desc {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #E5534E;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-headline-title-health {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
}

.card-headline-title-health a {
    color: #494652;
    font-weight: 600;
}


/* end custom css */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td {
    height: 40px;
    padding-left: 20px!important;
}

tr {
    background-color: #e6e6e6;
    color: #000;
}

th {
    height: 40px;
    background-color: #F45151;
    color: #fff;
}